<div class="row">
  <div class="col l10">
    <h3>Welcome, {{name}}!</h3>
  </div>
</div>
<div>
  <button class="btn btn-sm"><a href="/dashboard/new">Add New Post</a></button>
</div>

{{#if posts.length}}
<div class="row">
  <div class="col-md-6 post-list">
    <h4>Past Posts:</h4>

    {{#each posts as |post|}}
    <div class="row container user-post">
      <div class="col m8">
        <h4><a href="/mypost/{{post.id}}">{{post.title}}</a></h4>
        <p>{{post.contents}}</p>
        <p>Posted on {{format_date createdAt}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/if}}
